
  .page-wrap {
    display: inline-block;
    margin: 2em auto;
  }
  .controls {
    &__input {
      display: block;
      margin: 0 auto;
      background: none;
      border: none;
      font-size: 1em;
      padding-bottom: .5em;
      border-bottom: 2px solid #ccc;
      text-align: center;
      outline: none;
      color: #fff;
    }
    
  canvas {
    background-color: #eee;
    // opacity: 0;
    transition: opacity .3s;
    &.show {
      opacity: 1;
    }
  }
  .canvas-wrap {
    margin-top: 50px;
    position: relative;
  }
  #canvasID {
    z-index: 9999;
  }
/* 
  #data{
    width: 600px;
    border: 1px dashed black;
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-top: 50px;
    padding: 20px;
} */